<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139586901-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-139586901-3');
    </script>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NPSG5L2');</script>
    <!-- End Google Tag Manager -->

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5"/>
    <meta name="theme-color" content="#448AFF">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#448AFF">
    <meta name="apple-mobile-web-app-title" content="How I organize my life">
    <meta name="description" content="I collected various lists that helped me organize my life in the past 18 years and I arranged them in two tables.">

    <title>How I organize my life</title>

    <meta property="og:type" content="website" />
    <meta property="og:title" content="How I organize my life" />
    <meta property="og:description" content="I collected various lists that helped me organize my life in the past 18 years and I arranged them in two tables." />
    <meta property="og:image" content="https://how-to.organize-my.life/icon512x512.png" />
    <meta property="og:url" content="https://how-to.organize-my.life/" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="How I organize my life">
    <meta name="twitter:description" content="I collected various lists that helped me organize my life in the past 18 years and I arranged them in two tables.">
    <meta name="twitter:image" content="https://how-to.organize-my.life/icon512x512.png">

    <link rel="manifest" href="manifest.json">
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel='stylesheet' href="https://fonts.googleapis.com/css?family=Roboto Mono">
    <link rel="stylesheet" href="index.css?v=0.1" type="text/css"/>

    <style>
      .value {
        width: 100%;
        max-width: 500px;
        margin: 10px auto;

        text-align: left;
      }
    </style>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NPSG5L2"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div id="main">

      <div id="background"></div>

      <a href="./">
        <img id="title" src="title.png" alt="How I organize my life">
      </a>

      <h1>List of values</h1>

      <div class="value">My values: <span v-for="(value, idx) in checkedValues"> {{value}}<span v-if="idx < checkedValues.length - 1">,</span></span></div>

      <div v-for="(category, name) in values">
        <h2>{{name}}</h2>
        <div v-for="value in category" class="value">
          <input type="checkbox" :id="value" :value="value" v-model="checkedValues">
          <label :for="value">{{value}}</label>
        </div>
      </div>

    </div>

    <noscript>Sorry, your browser does not support JavaScript!</noscript>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
    <script src="values.js"></script>
  </body>
</html>